image/* filter=lfs diff-lfs merge=lfs -text
image/image.jpeg filter=lfs diff=lfs merge=lfs -text
image/portfolio filter=lfs diff=lfs merge=lfs -text
image/chimney filter=lfs diff=lfs merge=lfs -text
image/hero.jpg filter=lfs diff=lfs merge=lfs -text
image/heroEdit.jpg filter=lfs diff=lfs merge=lfs -text
image/icons8-facebook-24.png filter=lfs diff=lfs merge=lfs -text
image/icons8-google-50.png filter=lfs diff=lfs merge=lfs -text
image/joemartinez filter=lfs diff=lfs merge=lfs -text
image/logos filter=lfs diff=lfs merge=lfs -text
image/services filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac filter=lfs diff=lfs merge=lfs -text
image/about filter=lfs diff=lfs merge=lfs -text
image/about/installation.jpg filter=lfs diff=lfs merge=lfs -text
image/about/services.avif filter=lfs diff=lfs merge=lfs -text
image/about/teamPhoto2.jpg filter=lfs diff=lfs merge=lfs -text
image/about/test_about.jpg filter=lfs diff=lfs merge=lfs -text
image/about/about[[:space:]]page.jpg filter=lfs diff=lfs merge=lfs -text
image/about/fabrication.jpg filter=lfs diff=lfs merge=lfs -text
image/about/new[[:space:]]test.avif filter=lfs diff=lfs merge=lfs -text
image/about/panoramaShot.avif filter=lfs diff=lfs merge=lfs -text
image/about/services.jpg filter=lfs diff=lfs merge=lfs -text
image/about/IMG_6523.jpeg filter=lfs diff=lfs merge=lfs -text
image/about/IMG_6523.jpg filter=lfs diff=lfs merge=lfs -text
image/services/servicesMaybe.jpg filter=lfs diff=lfs merge=lfs -text
image/portfolio/Andino[[:space:]]White[[:space:]]Granite[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top[[:space:]]with[[:space:]]Island.heic filter=lfs diff=lfs merge=lfs -text
image/portfolio/Mascarello[[:space:]]Granite[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Nero[[:space:]]Mist[[:space:]]Granite[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top.HEIC filter=lfs diff=lfs merge=lfs -text
image/portfolio/Nile[[:space:]]River[[:space:]]Granite[[:space:]]Kitchen[[:space:]]Counterop.jpg filter=lfs diff=lfs merge=lfs -text
image/portfolio/Outdoor[[:space:]]Granite[[:space:]]Table.jpg filter=lfs diff=lfs merge=lfs -text
image/portfolio/portfolio1 filter=lfs diff=lfs merge=lfs -text
image/portfolio/50:50[[:space:]]Stainless[[:space:]]Steel[[:space:]]Sink[[:space:]]for[[:space:]]Kitchen[[:space:]]Countertop.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Black[[:space:]]Galaxy[[:space:]]Granite[[:space:]]Powder[[:space:]]Room.jpg filter=lfs diff=lfs merge=lfs -text
image/portfolio/Fantasy[[:space:]]Brown[[:space:]]Granite[[:space:]]Kitchen.jpg filter=lfs diff=lfs merge=lfs -text
image/portfolio/Mascarello[[:space:]]Granite[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top.HEIC filter=lfs diff=lfs merge=lfs -text
image/portfolio/Nero[[:space:]]Mist[[:space:]]Granite[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Nero[[:space:]]Mist[[:space:]]Honed[[:space:]]Granite[[:space:]]Outdoor[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top.heic filter=lfs diff=lfs merge=lfs -text
image/portfolio/50:50[[:space:]]Stainless[[:space:]]Steel[[:space:]]Sink[[:space:]]for[[:space:]]Kitchen[[:space:]]Countertop.jpg filter=lfs diff=lfs merge=lfs -text
image/portfolio/Nero[[:space:]]Mist[[:space:]]Honed[[:space:]]Granite[[:space:]]Outdoor[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Fantasy[[:space:]]Brown[[:space:]]Granite[[:space:]]Kitchen.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Andino[[:space:]]White[[:space:]]Granite[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top[[:space:]]with[[:space:]]Island.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Black[[:space:]]Galaxy[[:space:]]Dual[[:space:]]Sink[[:space:]]Bathroom[[:space:]]Countertop[[:space:]]with[[:space:]]River[[:space:]]Stone[[:space:]]Sinks.jpg filter=lfs diff=lfs merge=lfs -text
image/portfolio/Black[[:space:]]Galaxy[[:space:]]Dual[[:space:]]Sink[[:space:]]Bathroom[[:space:]]Countertop[[:space:]]with[[:space:]]River[[:space:]]Stone[[:space:]]Sinks.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Black[[:space:]]Galaxy[[:space:]]Granite[[:space:]]Powder[[:space:]]Room.photo-edit filter=lfs diff=lfs merge=lfs -text
image/portfolio/Carrara[[:space:]]Zion-[[:space:]]Quarts[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top[[:space:]].heic filter=lfs diff=lfs merge=lfs -text
image/portfolio/Carrara[[:space:]]Zion-[[:space:]]Quarts[[:space:]]Kitchen[[:space:]]Counter[[:space:]]Top[[:space:]].photo-edit filter=lfs diff=lfs merge=lfs -text
image/chimney/20250127_101920.jpg filter=lfs diff=lfs merge=lfs -text
image/chimney/20250127_101804.jpg filter=lfs diff=lfs merge=lfs -text
image/chimney/20250127_101805.jpg filter=lfs diff=lfs merge=lfs -text
image/chimney/20250127_101821.jpg filter=lfs diff=lfs merge=lfs -text
image/chimney/20250127_101836.jpg filter=lfs diff=lfs merge=lfs -text
image/chimney/20250127_101848.jpg filter=lfs diff=lfs merge=lfs -text
image/chimney/20250127_101903.jpg filter=lfs diff=lfs merge=lfs -text
image/joemartinez/IMG_20250127_181304[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
image/joemartinez/IMG_20250127_181304[[:space:]](3).jpg filter=lfs diff=lfs merge=lfs -text
image/joemartinez/IMG_20250127_181304[[:space:]](4).jpg filter=lfs diff=lfs merge=lfs -text
image/joemartinez/IMG_20250127_181304.jpg filter=lfs diff=lfs merge=lfs -text
image/joemartinez/test_about.jpg filter=lfs diff=lfs merge=lfs -text
image/joemartinez/IMG_20250127_181303.jpg filter=lfs diff=lfs merge=lfs -text
image/joemartinez/IMG_20250127_181304[[:space:]](1).jpg filter=lfs diff=lfs merge=lfs -text
image/logos/logo-americ-transformed.jpeg filter=lfs diff=lfs merge=lfs -text
image/logos/mj.svg filter=lfs diff=lfs merge=lfs -text
image/logos/AmeriQuartz.svg filter=lfs diff=lfs merge=lfs -text
image/logos/icons8-address-100.png filter=lfs diff=lfs merge=lfs -text
image/logos/icons8-email-32.png filter=lfs diff=lfs merge=lfs -text
image/logos/icons8-incoming-call-100.png filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/634fd040-9c5b-4cc8-b7c2-2b04e1f19676.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0604.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1123.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163148.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230511_123943.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0171.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0189.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1089.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/63fe8665-f82d-4ad1-b785-efaa3fded0b3.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0610.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1081.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1106.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/de17da9c-2dea-43da-aff4-173d3dc7dd39.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/1c27e2e1-585f-41d3-98ed-b71856d6e5c3.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0609.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1077.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1169.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4120.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6514.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/166204d4-a979-4707-89eb-0ca7ed5e073b.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0595.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0606.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1098.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1122.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6511.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6522.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163244.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0815.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0832.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4116.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6507.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1113.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4111.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6533.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/48a48bea-f54b-422e-bb56-be64ad45d825.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0188.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0834.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1080(1).HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1107.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4119.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0440.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0441.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0621.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0626.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0820.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0607.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1109.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4117.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163240(0).jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163710.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230511_124003.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/5bcad5d0-dfde-441a-b96d-fed8c2ebc5ec.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0147.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6508.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0590.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6518.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6529.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/a7a70c7c-29d5-4f3e-852f-7f577ca915d5.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0601.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0624.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0816.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1085(1).HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_20210307_202617.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6531.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163241.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0170.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0592.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0593.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1084.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/b7998a6a-b86c-4649-88b0-9ec72417695c.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6527.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163620.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0599.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0613.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0836.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1104.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1121.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1170.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_20201220_171318.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163149.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163709.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0169.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0177.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0598.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6534.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1117.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/a7624f5e-87df-4b24-b702-bb6c139a8a31.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163631.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163632.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0145.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0425.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1082(1).HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0616.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0623.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1110.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0143.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0426.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0596.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0597.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0605.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1112.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6526.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163858.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0437.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0796.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1078(1).HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6521.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230511_124038.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0603.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0620.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0818.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4121.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1103.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6530.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163326.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163619.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0146.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0438.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1099.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1080.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1082.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1101.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230511_124032.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0612.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0831.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0835.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1076.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6525.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1116.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1118.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1168.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_20201214_193250.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6519.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6528.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/b4a1ae9b-fae6-4941-9aca-fd8dff446b8f.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/60bf0cb9-f109-4709-9ce9-de48e7c8781c.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/95224e0b-3174-4f3f-9478-e28c64eafa65.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0617.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0618.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1097.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230511_123955.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0833.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/e133b01e-d749-46b2-89e0-4e10ac9b88c8.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163324.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0187.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0819.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1115.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/magmaJoe.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/b71b9d40-824c-4c57-b801-c9499ec1a84b.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/3f233085-961d-4eb5-82cf-18ae9ce5d607.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0439.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0589.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0594.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1085.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0622.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1078.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1114.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1119.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6510.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163207.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0428.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0817.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1167.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1108.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163209(0).jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163707.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/8efcf495-6e65-4a73-a929-31b6419ce3db.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0190.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0821.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1100.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1111.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1166.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163132.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163649(0).jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0615.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0795.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0799.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0602.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0614.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0822.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4833.heic filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6517.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230511_123942.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0600.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0608.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0619.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1083.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1102.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1120.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4832.heic filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163648(0).jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163648.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163649.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0591.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_1079.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6523.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6532.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/c302faec-24cc-4a7d-a78a-a69537c07cb2.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/20230303_163209.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0611.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_0797.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_4112.HEIC filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac/IMG_6513.HEIC filter=lfs diff=lfs merge=lfs -text
