image/20241205_154158.jpg filter=lfs diff=lfs merge=lfs -text
image/IMG_20210307_202617.jpg filter=lfs diff=lfs merge=lfs -text
image/estimate.png filter=lfs diff=lfs merge=lfs -text
image/installation.jpg filter=lfs diff=lfs merge=lfs -text
image/hero.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac filter=lfs diff=lfs merge=lfs -text
image/Porfolio_Optimized filter=lfs diff=lfs merge=lfs -text
image/chimney filter=lfs diff=lfs merge=lfs -text
image/634fd040-9c5b-4cc8-b7c2-2b04e1f19676.jpg filter=lfs diff=lfs merge=lfs -text
image/IMG_6523.jpg filter=lfs diff=lfs merge=lfs -text
image/White[[:space:]]Marble[[:space:]]Cover[[:space:]]Chimney.avif filter=lfs diff=lfs merge=lfs -text
image/teamPhoto2.jpg filter=lfs diff=lfs merge=lfs -text
image/20241026_155236.jpg filter=lfs diff=lfs merge=lfs -text
image/20241030_162031.jpg filter=lfs diff=lfs merge=lfs -text
image/Granite[[:space:]]Zinac-001.zip filter=lfs diff=lfs merge=lfs -text
image/about[[:space:]]page.jpg filter=lfs diff=lfs merge=lfs -text
image/lackstone.photo-edit filter=lfs diff=lfs merge=lfs -text
image/logos filter=lfs diff=lfs merge=lfs -text
image/IMG_6523.jpeg filter=lfs diff=lfs merge=lfs -text
image/b4a1ae9b-fae6-4941-9aca-fd8dff446b8f.jpg filter=lfs diff=lfs merge=lfs -text
image/test_about.jpg filter=lfs diff=lfs merge=lfs -text
image/IMG_6534.photo-edit filter=lfs diff=lfs merge=lfs -text
image/fabrication.jpg filter=lfs diff=lfs merge=lfs -text
image/heroEdit.jpg filter=lfs diff=lfs merge=lfs -text
image/image.jpeg filter=lfs diff=lfs merge=lfs -text
image/services.jpg filter=lfs diff=lfs merge=lfs -text
image/test_about.avif filter=lfs diff=lfs merge=lfs -text
image/Portfolio filter=lfs diff=lfs merge=lfs -text
image/joemartinez filter=lfs diff=lfs merge=lfs -text
image/servicesMaybe.jpg filter=lfs diff=lfs merge=lfs -text
